/* Adicione essas regras ao seu arquivo CSS */

ion-header {
    --ion-background-color: #4caf50;
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  
  ion-toolbar {
    --ion-color-base: #4caf50;
    --ion-color-light: #4caf50;
  }
  
  ion-title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  ion-toggle {
    --ion-color-checked: #4caf50;
  }
  
  ion-label {
    color: #4caf50;
  }
  
  ion-select {
    --ion-color: #4caf50;
  }
  
  ion-button {
    --ion-background-color: #4caf50;
    --ion-text-color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 0.9rem;
  }
  
  ion-button[expand="block"] {
    width: auto;
    margin-top: 10px;
    font-size: 0.8rem;
  }
  
  ion-button[expand="block"][color="success"] {
    --ion-background-color: #4caf50;
  }
  
  ion-button[expand="block"][color="danger"] {
    --ion-background-color: #f44336;
  }
  
  ion-button[expand="block"] ion-icon {
    margin-right: 5px;
  }
  
  ion-item {
    --ion-background-color: #f8f8f8;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  /* Adicione mais estilos se necessário */
  